html, body{
	width: 100%;
	height: 100%;
	
	
}
hr{
	height: 3px;
	border-color: black;
	bottom: 20px;
	margin: 0px;
}

.main-img{
	background: url("barfanatics black.png") no-repeat center center;
		
	height: 100%;
	width:100%;
	background-size: cover;
	margin-top: -3.5%;
}

.nav-link{
	color: white;
	font-weight: bold;
	font-size: 1.3em;
	padding: 0px;
	padding-left: 20px;
}
.nav{
	
	background-color: #333230;
	
}
.introduction{
	font-weight: bold;
	color: white;
	background-color: #333230;
	height: 180%;
}
.introduction h1{
	
	text-align: center;

}
.introduction h2{
	text-align: center;
	padding-top: 8px;
}

.p-intro{
	
	padding-left: 20px;
	padding-top: 20px;
	font-size: 1.2rem;
}

.description{
	padding-left: 20px;
	padding-top: 20px;
	font-size: 1.1rem;
}


.heria{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.larosa{
	margin-right: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
}

.dunhum{
	margin-left: 10px;
	margin-bottom: 10px;
}
